@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

a {
    color: black;
    text-decoration: none;
}

.aa {
    height: 860px;
}


/* 게시글 상세보기 */
.bv-contents {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.bv-group {
    border-top: 0.1rem solid #000;
}

.title {
    height: 3.5rem;
    padding: 15px 15px;
    border-bottom: 1px dashed #ddd;
}

.info-group {
    height: 3.5rem;
    padding: 15px;
    border-bottom: 1px solid black;
}

.info {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    font-size: 1rem;
    border-right: 1px solid #ddd;
}

.info:first-child {
    padding-left: 0;
}

.cont {
    width: 100%;
    border-bottom: 1px solid #b3b3b3;
}

#content {
    min-height: 290px;
    margin: 2.5rem 0 1rem 0;
}

#writer {
    text-align: left;
}

/* 전체 버튼 */
.bt-group {
    width: 54%;
    display: flex;
    margin-top: 10px;
    float: right;
}

.like-button {
	border: none;
	background-color: transparent;
}


#heart {
    width: 50px;
    cursor: pointer;
    color: #FF5353;
}
.bt_wrap {
    width: 205px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 360px;
    display: flex;
    align-items: center;
    justify-content: right;
    white-space: nowrap;
    gap: 10px;
    }

.upde {
	float: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	gap: 20px;
}

#list {
	float: left;
}


.bt_wrap button {
    padding: 0.6rem 1rem;
    background-color: #477489;
    color: white;
    border: none;
    border-radius: 0.3rem;
    margin: 0 0.2rem;
    cursor: pointer;
}

/* 댓글 */
#comment-text {
    width: 90%;
    height: 57px;
    padding: 12px;
    resize: none;
    box-sizing: border-box;
}

button[type="submit"] {
    float: right;
    padding: 1.2rem;
    background-color: #477489;
    color: white;
    border: none;
    border-radius: 0.3rem;
    margin: 0 0.2rem;
    font-size: 1rem;
    cursor: pointer;
}

.comments {
    width: 100%;
    margin-top: 100px;
}

#comment-form button[type="submit"] {
    background-color: #477489;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
}

#comment-form button:active {
    box-shadow: 2px 2px 2px #999;
}

#comments-container {
    width: 100%;
    height: auto;
    min-height: 200px;
    margin-top: 24px;
}

.comnt-table {
    border-bottom: 1px solid #d5d5d5;
}

.comnt-table:first-child {
    border-top: 2px solid #bdbdbd;
}

.comnt-header {
    height: 30px;
}

.comnt-id {
    width: 92%;
    float: left;
    font-size: 18px;
    padding: 12px 0 0 8px;
    font-weight: 600;
}

.comnt-date {
    width: 93px;
    float: right;
    padding: 15px 8px 0 0;
    font-size: 14px;
    text-align: right;
    color: #7d7d7d;
}

.comnt-contents {
    width: 100%;
    min-height: 34px;
    height: auto;
}

.comnt-read {
    width: 100%;
    display: flex;
    padding: 6px 0 12px 13px;
}

.conbody {
    min-height: 771px;
    height: 100%;
}

/* footer 하단 고정 */
#footer-container {
    width: 100%;
}

/* banner */
.banner {
    width: 100%;
    height: 12rem;
    background-color: #F1E5FD;
    background-image: url(../../image/image2.jpg);
    background-repeat: no-repeat;
    background-position: 71rem;
    margin-bottom: 3rem;

}

.banner-font {
    margin-top: 4rem;
    margin-left: 23rem;
    float: left;
}

h2 {
    font-size: 3rem;
}

.banner p {
    font-size: 1.2rem;
}