<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/css_board/board-update.css">
    <script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header-container"></div>

    <div class="conbody">
        <div class="banner">
            <div class="banner-font">
                <h2>커뮤니티</h2>
                <P>커뮤니티 글 수정하기</P>
            </div>
        </div>
        <div class="bu-contents">
            <div class="board-update">
                <form class="board-form">
                    <div class="board-write-wrap">
                        <div class="board-write">
                            <div class="board-title">
                                <input type="text" name="board-title" placeholder="제목을 입력하세요.">
                            </div>
                            <div class="board-nick">
                                <input type="text" name="board-writer" placeholder="닉네임을 입력하세요.">
                            </div>
                            <div class="board-content">
                            <textarea name="board-content" placeholder="내용을 입력하세요." onkeydown="resize(this)"
                                      onkeyup="resize(this)"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="bu_button">
                        <input class="bu_write" type="button" value="목 록">
                        <input class="bu_write" type="button" value="수 정">
                        <input class="bu_clean" type="reset" value="초기화">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="footer-container"></div>

    <script src="/js/js_headfoot/headFoot.js"></script>
</body>
</html>