<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/css_board/board-view.css">
    <script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
<div id="header-container"></div>

<div class="conbody">
    <div class="banner">
        <div class="banner-font">
            <h2>커뮤니티</h2>
            <P>커뮤니티 상세보기</P>
        </div>
    </div>

    <div class="aa">
        <div class="bv-contents">
            <form th:action="@{|/comment/create/${tbBoard.bdIdx}|}" th:object="${TbCommentForm}" method="post">

                <div class="bv-group">

                    <div class="board_view_wrap">
                        <div class="board_view">

                            <div class="title" id="subject">
                                <h3 th:text="${tbBoard.bdTitle}"></h3>
                            </div>
                            <div class="info-group">
                                <div class="info">
                                    <div id="writer" th:text="${tbBoard.tbUser.userNick}"></div>
                                </div>
                                <div class="info">
                                    <div id="date" th:text="${#temporals.format(tbBoard.createdAt, 'yy-MM-dd')}">
                                    </div>
                                </div>
                                <div class="info">
                                    <div id="views">
                                        <i class="fa-regular fa-eye"></i>
                                        <span id="viewCount" th:text="${tbBoard.bdViews}"></span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div id="like">
                                        <i class="fa-solid fa-heart"></i>
                                        <span id="likeCount" th:text="${tbBoard.bdLikes.size()}"></span>
                                        </dlv>
                                    </div>
                                </div>
                                <div class="cont">
                                    <div id="content" th:text="${tbBoard.bdContent}"></div>
                                </div>
                                <div class="bt-group">
                                    <div class="biglikebtn">
                                        <button type="button" class="like-button"
                                                th:attr="onclick='likeButton(\'' + ${tbBoard.bdIdx} + '\')'">
                                            <i id="heart" class="fa-solid fa-heart fa-4x"></i>
                                        </button>
                                    </div>
                                    <div class="bt_wrap">
                                        <div th:if="${isAuthor}">
                                            <button id="modify" class="view-bt" onclick="eidtPost()">수 정</button>
                                            <button id="delete" class="view-bt" onclick="deletePost()">삭 제</button>
                                        </div>
                                        <button id="list" class="view-bt" type="button"
                                                onclick="location.href='/board/main'">목 록
                                        </button>
                                    </div>
                                </div>

                                <div class="comments">
                                    <div id="comment-form">
										<textarea id="comment-text" onkeydown="resize(this)" onkeyup="resize(this)"
                                                  name="cmtContent" placeholder="댓글을 입력하세요"></textarea>
                                        <button type="submit">댓글 작성</button>
                                    </div>
                                </div>
                                <div id="comments-container">
                                    <div class="comnt-table" th:each="comment, loop:${commentList}">
                                        <div class="comnt-header">
                                            <div class="comnt-id" th:text="${comment.tbUser.userNick}">
                                            </div>
                                            <div class="comnt-date" id="comment-time"
                                                 th:text="${#temporals.format(comment.createdAt, 'yy-MM-dd')}">
                                            </div>
                                        </div>
                                        <div class="comnt-contents">
                                            <div class="comnt-read" th:text="${comment.cmtContent}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>

</div>

<div id="footer-container"></div>

<script>
    function likeButton(bdIdx) {
        console.log('likeButton 함수 호출 성공, bdIdx : ', bdIdx)
        $.ajax({
            type: "GET",
            url: "/board/like",
            data: {"bdIdx": bdIdx},
            success: function (response) {
                console.log("서버 응답 : ", response)
                // 서버에서 실제 좋아요 갯수를 반환
                var newLikeCount = parseInt(response);
                // 현재 좋아요 갯수 업데이트
                updateLikeCount(newLikeCount);
            },
            error: function () {
                window.location.href="/tbUser/login";
            }
        });
    }

    function resize(obj) {
        obj.style.height = "1rem";
        obj.style.height = (0.8 + obj.scrollHeight / 16) + "rem";
    }

    function updateLikeCount(newCount) {
        // bdIdx 에 해당하는 좋아요 갯수 업데이트
        var likeCountElement = document.getElementById('likeCount');
        var currentCount = parseInt(likeCountElement.innerText);

        // 새로 받아온 좋아요 갯수와 현재 갯수의 차이를 계산하여 업데이트
        var delta = newCount - currentCount;
        likeCountElement.innerText = newCount;
        // Math.max 함수를 사용하여 currentCount + delta 값과 0 중에서 더 큰 값을 선택하여 likeCountElement의 텍스트 내용으로 설정
        /*likeCountElement.innerText = Math.max(currentCount + delta, 0);*/
    }
    <!--         1차-->

    let bdIdx;
    var content = $('#comment-text').val();

    console.log("보드아이디엑스:", bdIdx);


    // 로그인x 상태에서 댓글 등록 막기

</script>

<script src="/js/js_headfoot/headFoot.js"></script>
</body>

</html>