<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수어랑말해랑</title>
    <link rel="stylesheet" href="/css/css_headfoot/footer.css">
</head>

<body>
    <div class="footer">
        <div class="footer-contents">
            <div class="footer-group">
                <span class="footer-logo">
                    <a th:href="@{/main}">
                        <img src="/image/logo2.png" alt="로고" width="80rem">
                    </a>
                </span>
                <ul class="footer-menulist">
                    <li class="footer-menuitem">
                        광주광역시 동구 SMHRD<br>
                        TEAM SALT
                    </li>
                    <li class="footer-menuitem">
                        팀장 : 김군순<br>
                        팀원 : 김다희 김훈종 이대섭 백지수
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>