<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수어랑말해랑</title>
    <link rel="stylesheet" href="/css/css_headfoot/header.css">
    <script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="signLang">
    <div class="header-contents">
        <div class="header-left">
            <h1 class="header-title">
                <a id="gif-container" th:href="@{/main}">
                    <img src="/image/logo1.png" alt="Logo">
                    <img id="signgif" src="/gif/수어랑말해랑.gif" alt="GIF">
                </a>
            </h1>
        </div>
        <div class="header-center">
            <ul class="header-gnblist">
                <li class="header-gnbitem">
                    <a class="header-gnblink" th:href="@{/translate}">
                            <span id="gif-container" class="menu-icon">
                                <p>수어번역</p>
                                <img id="menugif" src="/gif/수어번역.gif" alt="GIF">
                            </span>
                    </a>
                </li>
                <li class="header-gnbitem">
                    <a class="header-gnblink" th:href="@{/dic/main}">
                            <span id="gif-container" class="menu-icon">
                                <p>수어사전</p>
                                <img id="menugif" src="/gif/수어사전.gif" alt="GIF">
                            </span>
                    </a>
                </li>
                <li class="header-gnbitem">
                    <a class="header-gnblink" th:href="@{/board/main}">
                            <span id="gif-container" class="menu-icon">
                                <p>커뮤니티</p>
                                <img id="menugif" src="/gif/게시판.gif" alt="GIF">
                            </span>
                    </a>
                </li>
                <li class="header-gnbitem">
                    <a class="header-gnblink" th:href="@{/notice/main}">
                            <span id="gif-container" class="menu-icon">
                                <p>공지사항</p>
                                <img id="menugif" src="/gif/알리다.gif" alt="GIF">
                            </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <div class="header-utils">
                <!-- 로그인 되지 않았을 때 -->
                <a th:href="@{/tbUser/signup}" class="btn-profile header-utils-btn" id="btnProfile"
                   th:if="${not #authorization.expression('isAuthenticated')}">
                    <i class="fa-solid fa-user-plus fa-2x" alt="JOIN"></i>
                    <p>회원가입</p>
                </a>
                <a th:href="@{/tbUser/login}" class="btn-profile header-utils-btn" id="btnLogin"
                   th:if="${not #authorization.expression('isAuthenticated')}">
                    <i class="fa-solid fa-user fa-2x" alt="LOGIN"></i>
                    <p>로그인</p>
                </a>

                <!-- 로그인 되었을 때 -->
                <a th:href="@{/tbUser/logout}" class="btn-profile header-utils-btn" id="btnLogout"
                   th:if="${#authorization.expression('isAuthenticated')}">
                    <i class="fa-regular fa-user fa-2x" alt="LOGOUT"></i>
                    <p>로그아웃</p>
                </a>
                <a th:href="@{/tbUser/mypage}" class="btn-profile header-utils-btn" id="btnMyPage"
                   th:if="${#authorization.expression('isAuthenticated')}">
                    <i class="fa-solid fa-user-gear fa-2x" alt="MY PAGE"></i>
                    <p>마이페이지</p>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="/js/js_headfoot/header.js"></script>
</body>
</html>