<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수어랑말해랑-Community</title>
    <link rel="stylesheet" href="./css/template.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/list.css">
    <script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="header-container"></div>
    <!-- main -->
    <main class="th-layout-main">
        <div class="signLangCom" id="">
            <!-- <div class="contents-container">
                <img class="contents-visual img-pc" src="./image/img_subvisual.png" alt="pc 이미지">
                <img class="contents-visual img-mobile" src="./image/img_subvisual_mobile_1.png" alt="모바일 이미지">
                <div class="contents-body container-md">
                    <div class="textset textset-visual">
                        <h2 class="textset-tit"></h2>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="main-2">
            <div class="contents-inner">
                <div class="contents-container container-md">
                    <div class="textset textset-sub">
                        <div class="radio-inputs">
                            <label class="radio" onclick="filterPosts('all')">
                                <input type="radio" name="radio" checked="">
                                <span class="name">전 체</span>
                            </label>
                            <label class="radio" onclick="filterPosts('free')">
                                <input type="radio" name="radio">
                                <span class="name">자 유</span>
                            </label>
                            <label class="radio" onclick="filterPosts('suggestion')">
                                <input type="radio" name="radio">
                                <span class="name">건 의</span>
                            </label>
                        </div>
                    </div>
                    <div class="tableset tableset-fract post-list">
                        <table class="tableset-table">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead class="thead-light thead-border-top main">
                                <tr>
                                    <td scope="col">번 호</td>
                                    <td scope="col">분 류</td>
                                    <td scope="col">제 목</td>
                                    <td scope="col">글쓴이</td>
                                    <td scope="col">등록일</td>
                                    <td scope="col">조회수</td>
                                    <td scope="col">추천수</td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr class="post-item" data-category="free">
                                    <td class="tableset-mobile">21</td>
                                    <td class="tableset-mobile">자 유</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="suggestion">
                                    <td class="tableset-mobile">20</td>
                                    <td class="tableset-mobile">건 의</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="suggestion">
                                    <td class="tableset-mobile">19</td>
                                    <td class="tableset-mobile">건 의</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="free">
                                    <td class="tableset-mobile">18</td>
                                    <td class="tableset-mobile">자 유</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="free">
                                    <td class="tableset-mobile">17</td>
                                    <td class="tableset-mobile">자 유</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="suggestion">
                                    <td class="tableset-mobile">8</td>
                                    <td class="tableset-mobile">건 의</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="free">
                                    <td class="tableset-mobile">14</td>
                                    <td class="tableset-mobile">자 유</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="suggestion">
                                    <td class="tableset-mobile">15</td>
                                    <td class="tableset-mobile">건 의</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="free">
                                    <td class="tableset-mobile">13</td>
                                    <td class="tableset-mobile">자 유</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="suggestion">
                                    <td class="tableset-mobile">12</td>
                                    <td class="tableset-mobile">건 의</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="free">
                                    <td class="tableset-mobile">11</td>
                                    <td class="tableset-mobile">자 유</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr> -->
                                <tr class="post-item" data-category="suggestion">
                                    <td class="tableset-mobile">10</td>
                                    <td class="tableset-mobile">건 의</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="free">
                                    <td class="tableset-mobile">9</td>
                                    <td class="tableset-mobile">자 유</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="suggestion">
                                    <td class="tableset-mobile">8</td>
                                    <td class="tableset-mobile">건 의</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="free">
                                    <td class="tableset-mobile">7</td>
                                    <td class="tableset-mobile">자 유</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="suggestion">
                                    <td class="tableset-mobile">6</td>
                                    <td class="tableset-mobile">건 의</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="free">
                                    <td class="tableset-mobile">5</td>
                                    <td class="tableset-mobile">자 유</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="suggestion">
                                    <td class="tableset-mobile">4</td>
                                    <td class="tableset-mobile">건 의</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="free">
                                    <td class="tableset-mobile">3</td>
                                    <td class="tableset-mobile">자 유</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="suggestion">
                                    <td class="tableset-mobile">2</td>
                                    <td class="tableset-mobile">건 의</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                                <tr class="post-item" data-category="free">
                                    <td class="tableset-mobile">1</td>
                                    <td class="tableset-mobile">자 유</td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>테스트입니다.</span>
                                        </a>
                                    </td>
                                    <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                                        <a href="">
                                            <span>관리자</span>
                                        </a>
                                    </td>
                                    <td>2023.01.01</td>
                                    <td>0</td>
                                    <td>12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="page-write">
                        <button id="write" onclick="location.href='./write.html'">글쓰기</button>
                    </div>
                    <ul class="pagination" id="pagination">
                        <!-- 페이지 번호가 자동으로 추가될 부분 -->
                        <nav class="pagiset pagiset-circ pagiset-border">
                            <div class="pagiset-ctrl">
                                <a href="" class="pagiset-link pagiset-first">
                                    <span class="visually-hidden">처음</span>
                                </a>
                            </div>
                            <div class="pagiset-ctrl">
                                <a href="" class="pagiset-link pagiset-prev">
                                    <span class="visually-hidden">이전</span>
                                </a>
                            </div>
                            <div class="pagiset-list">
                                <a href="" class="pagiset-link active-fill">1</a>
                                <a href="" class="pagiset-link active-fill">2</a>
                                <a href="" class="pagiset-link active-fill">3</a>
                            </div>
                            <div class="pagiset-ctrl">
                                <a href="" class="pagiset-link pagiset-next">
                                    <span class="visually-hidden">다음</span>
                                </a>
                            </div>
                            <div class="pagiset-ctrl">
                                <a href="" class="pagiset-link pagiset-last">
                                    <span class="visually-hidden">마지막</span>
                                </a>
                            </div>
                        </nav>
                    </ul>
                    
                </div>
            </div>
        </div>
    </main>
    <div id="footer-container"></div>

    <script src="./js/list.js"></script>
    <script src="./js/template.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/headFoot.js"></script>
</body>

</html>