<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>수어랑말해랑</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
</head>

<body>

  <div id="header-container"></div>

  <main id="wrap">
    <div class="signLangMain">
      <div class="contents-inner">
        <div class="contents-box">
          <div class="main-form">
            <div class="contents-left">
              <div class="imageset">
                <img class="imageset-img" src="/image/sign.jpg" alt="메인이미지">
              </div>
            </div>
            <div class="contents-right">
              <div class="contents-group">
                <ul class="contents-list">
                  <h5 class="contents-subtit">한국수어(手語)</h5>
                  <li class="contents-item">
                    <span class="contents-item-name">
                      <p>한국수화언어의 줄임말로</p>
                      <p>한국수어는 한국어와는 문법체계가 다른</p>
                      <p> 대한민국의 농인의 <b>고유한 언어</b>입니다.</p>
                    </span>
                    <span class="contents-item-price">
                      <img src="/image/koreasign.jpg" alt="한국수어" width="180rem">
                    </span>
                  </li>
                </ul>
              </div>
              <div class="contents-group">
                <ul class="contents-list">
                  <h5 class="contents-subtit2">수어랑말해랑의 목적</h5>
                  <li class="contents-item">
                    <span class="contents-item-name2">
                      <img src="/image/목적.jpg" alt="수어목적" width="175rem">
                    </span>
                    <span class="contents-item-price2">
                      <p><b>수어랑말해랑</b>은 농인들 또한 사회서비스를</p>
                      <p>누릴 수 있도록 수어를 번역하는 서비스를</p>
                      <p>제공하려 합니다.</p>
                      <p>특히, 사회서비스를 누리는데 필수적인</p>
                      <p>교통분야에 접근성을 높이며 청인들이</p>
                      <p>농인들에게 잘 대처할 수 있도록 수어내용에</p>
                      <p>대한 다양한 서비스를 제공합니다.</p>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div id="footer-container"></div>

  <script src="/js/js_headfoot/headFoot.js"></script>
</body>

</html>