<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/css_notice/notice-update.css">
    <script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="header-container"></div>

    <div class="conbody">
        <div class="banner">
            <div class="banner-font">
                <h2>공지사항</h2>
                <P>공지사항 글 수정하기</P>
            </div>
        </div>
        <div class="nw-contents">
            <div class="notice-update">
                <form class="notice-form">
                    <div class="board-write-wrap">
                        <div class="board-write">
                            <div class="notice-title">
                                <input type="text" name="notice-title" placeholder="제목을 입력하세요.">
                            </div>
                            <div class="notice-nick">
                                <input type="text" name="notice-writer" placeholder="닉네임을 입력하세요.">
                            </div>
                            <div class="notice-content">
                            <textarea name="notice-content" placeholder="내용을 입력하세요." onkeydown="resize(this)"
                                      onkeyup="resize(this)"></textarea>
                                <input type="file" name="notice-file">
                            </div>
                        </div>
                    </div>
                    <div class="nw_button">
                        <input class="nw_write" type="button" value="목 록">
                        <input class="nw_write" type="button" value="등 록">
                        <input class="nw_clean" type="reset" value="초기화">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="footer-container"></div>

    <script>
        // textarea 내의 글자수가 고정값보다 넘어갔을떄 늘리게하기  
        function resize(obj) {
            obj.style.height = "1rem";
            obj.style.height = (0.75 + obj.scrollHeight / 16) + "rem";
        }
    </script>
    <script src="/js/js_headfoot/headFoot.js"></script>
</body>

</html>