<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원가입</title>
	<link rel="stylesheet" href="/css/logsign.css">
	<script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원가입</title>
	<link rel="stylesheet" href="/css/logsign.css">
	<script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
	<form th:action="@{/tbUser/signup}" th:object="${tbUserForm}" method="post" class="signform">
		<div class="logo">
			<a th:href=@{/main}>
				<img src="/image/logo1.png" alt="logo" width="100px">
			</a>
		</div>
		<div class="log-container">
			<div class="log-title">
				<h2>회원가입</h2>
			</div>
			<div class="sign-box">
				<div class="log-content2">
					<input type="email" class="signemail" placeholder="이메일을 입력하세요." th:field="*{userEmail}" name="userEmail"
						id="userEmail" required>
					<button type="button" id="checkEmail" class="checkBtn">중복확인</button>
				</div>
				<div class="log-content2">
					<input type="text" class="signnick" placeholder="닉네임을 입력하세요." th:field="*{userNick}" name="userNick" id="userNick"
						required>
					<button type="button" id="checkNick" class="checkBtn">중복확인</button>
				</div>
				<div class="log-content2">
					<input type="password" id="password" class="signpass" placeholder="비밀번호를 입력하세요." th:field="*{userPw1}" name="userPw1"
						required>
				</div>
				<div class="log-content2">
					<input type="password" id="password2" class="signpass" placeholder="비밀번호를 확인하세요." th:field="*{userPw2}"
						name="userPw2" required>
				</div>
				<div class="alert" th:replace="~{form_errors :: formErrorsFragment}"></div>

				<button type="submit">회원가입</button>
				<div class="login-signup">
					<span><a th:href="@{/tbUser/login}">로그인</a></span>
				</div>
			</div>
		</div>
	</form>

	<script>
		var isEmailAvailable = false;
		var isNickAvailable = false;
		//이메일 중복 처리
		$(document).ready(function () {
			$("#checkEmail").click(function (event) {
				event.preventDefault();
				var email = $("#userEmail").val();

				if (email === "") {
					alert("이메일을 입력해주세요.");
					return;
				}

				$.ajax({
					url: "/tbUser/user_email/" + email,
					type: "GET",
					success: function (response) {
						console.log(response);
						if (response == false) {
							alert("사용 가능한 이메일입니다.");
							isEmailAvailable = true;
						} else {
							alert("이미 사용 중인 이메일입니다.");
							isEmailAvailable = false;
						}
					},
					error: function () {
						alert("서버 오류가 발생했습니다. 다시 시도해주세요.");
						isEmailAvailable = false;
					}
				});
			});
		});
		
		//닉네임 중복 처리
		$(document).ready(function () {
			// 이메일 중복 확인 버튼 클릭 시
			$("#checkNick").click(function (event) {
				event.preventDefault();
				var nick = $("#userNick").val();

				if (nick === "") {
					alert("닉네임을 입력해주세요.");
					return;
				}

				$.ajax({
					url: "/tbUser/user_nick/" + nick,
					type: "GET",
					success: function (response) {
						if (response == false) {
							alert("사용 가능한 닉네임입니다.");
							isNickAvailable = true;
						} else {
							alert("이미 사용 중인 닉네임입니다.");
							isNickAvailable = false;
						}
					},
					error: function () {
						alert("서버 오류가 발생했습니다. 다시 시도해주세요.");
						isNickAvailable = false;
					}
				});
			});
		});

		
	</script>
</body>

</html>