<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>수어랑말해랑-수어사전</title>
   <link rel="stylesheet" href="/css/css_dictionary/sl-dictionary.css">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
</head>

<body>
   <div id="header-container"></div>

   <div class="conbody">
      <div class="banner">
         <div class="banner-font">
            <h2>수어사전</h2>
            <P>수어랑말해랑 수어사전</P>
         </div>
      </div>

      <div class="sl-dictionary">
         <div class="dictionary-head">
            <div class="catesearch">
               <form th:action="@{/dic/search}">
                  <div class="radio-inputs">
                     <label class="radio" onclick="filter('')">
                        <input type="radio" name="category" checked="" value="">
                        <span class="name">전 체</span>
                     </label>
                     <label class="radio" onclick="filter('daily')" >
                        <input type="radio" name="category" value="daily">
                        <span class="name">일 상</span>
                     </label>
                     <label class="radio" onclick="filter('pro')" >
                        <input type="radio" name="category" value="pro">
                        <span class="name">전 문</span>
                     </label>
                  </div>
                  <div class="search">
                     <div class="search-box">
                        <div class="search-field">
                           <input name="kw" placeholder="Search" class="input" type="text">
                           <div class="search-box-icon">
                              <button class="btn-icon-content">
                                 <i class="fa-solid fa-magnifying-glass"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>

            <div class="dictionary-content">
               <div class="dictionary-group">
                  <div class="group">
                     <div class="item" th:each="slang, loop : ${langList}">
                        <div class="image-box">
                           <a th:href="@{|/dic/detail/${slang.slangIdx}|}">
                              <img th:src="${slang.slangThumb}" alt="${slang.slangText}">
                           </a>
                        </div>
                        <div class="text-box">
                           <p th:text="${slang.slangText}"></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div id="footer-container"></div>

   <script src="/js/js_headfoot/headFoot.js"></script>
   <script src="/js/js_dictionary/sl-dictionary.js"></script>
   <script>
      // 카테고리 별 리스트 출력
      function filter(category) {
         $.ajax({
            type: "GET",
            url: "/dic/list",
            data: {category: category},
            success: function (response) {
               var langList = response.content; // langList.content로 실제 데이터에 접근
               var slangListHtml = '';

               for (var i = 0; i < langList.length; i++) {
                  slangListHtml += `<div class="item">
                        <div class="image-box">
                            <a href="/dic/detail/${langList[i].slangIdx}">
                                <img src="${langList[i].slangThumb}" alt="${langList[i].slangText}">
                            </a>
                        </div>
                        <div class="text-box">
                            <p>${langList[i].slangText}</p>
                        </div>
                    </div>`;
               }
               $(".group").html(slangListHtml);
            },
            error: function (error) {
               console.error(error);
            }
         });
      }

   </script>
</body>

</html>