@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

a {
    color: black;
    text-decoration: none;
}

.sl-dictionary {
    max-width: 1200px;
    margin: 0 auto;
}

.dictionary-head {
    width: 100%;
    height: auto;
}

.catesearch {
    width: 100%;
    height: 3.5rem;
}

/* 카테고리 버튼 클릭시 카테고리별로 목록 보이게 */
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 200px;
    margin-bottom: 1rem;
    float: left;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #477489;
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: #477489;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}


/* 검색 */
.search {
    width: 20%;
    float: right;
    margin-top: 0.6rem;
}

.search-box {
    max-width: 250px;
    min-width: 150px;
    height: 35px;
    border: 1px solid #646464;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #fff;
    float: left;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-box:hover {
    border-color: #447486;
}

/*Section input*/
.search-field {
    position: relative;
    width: 100%;
    height: 100%;
    left: -5px;
    border: 0;
}

.input {
    width: calc(100% - 29px);
    height: 100%;
    border: 0;
    border-color: transparent;
    font-size: 1rem;
    padding-right: 0px;
    color: #000;
    background: #fff;
    border-right: 2px solid #808080;
    outline: none;
}

.input::-webkit-input-placeholder {
    color: #808080;
}

.input::-moz-input-placeholder {
    color: #808080;
}

.input::-ms-input-placeholder {
    color: #808080;
}

.input:focus::-webkit-input-placeholder {
    color: #999999;
}

.input:focus::-moz-input-placeholder {
    color: #999999;
}

.input:focus::-ms-input-placeholder {
    color: #999999;
}

/*Search button*/
.search-box-icon {
    width: 52px;
    height: 35px;
    position: absolute;
    top: -6px;
    right: -21px;
    background: transparent;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-box-icon:hover {
    background: #808080;
}

.btn-icon-content {
    width: 52px;
    height: 35px;
    top: -6px;
    right: -21px;
    background: transparent;
    border: none;
    cursor: pointer;

    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: .4;
}

.btn-icon-content:hover {
    opacity: .8;
}


.group {
    margin: 1rem;
    height: auto;
}

.item {
    width: 340px;
    height: 236px;
    margin: 20px 22.5px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
}

.image-box {
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.image-box a img {
    min-width: 338px;
    height: auto;
    object-fit: cover;
    transition: all 0.1s linear;
    transition-duration: 0.4s;
}

.image-box a img {
    transform: scale(1.2, 1.2);
    transition-duration: 0.3s;
}

.text-box p {
    height: 15%;
    margin-top: 7px;
}

.conbody {
    min-height: 771px;
    height: 100%;
}

/* footer 하단 고정 */
#footer-container {
    width: 100%;
}

/* banner */
.banner {
    width: 100%;
    height: 12rem;
    background-color: #FFF7E2;
    background-image: url(../../image/image3.jpg);
    background-repeat: no-repeat;
    background-position: 71rem;
    margin-bottom: 3rem;

}

.banner-font {
    margin-top: 4rem;
    margin-left: 23rem;
    float: left;
}

h2 {
    font-size: 3rem;
}

.banner p {
    font-size: 1.2rem;
}