@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    /* border: 3px solid #f1f1f1; */
}

.loginform {
    margin-top: 190px;
}

a {
    color: #000;
}

.logo {
    width: 580px;
    height: 80px;
}

.logo > img{
    width: 7rem;
    margin-left: 20px;
}

.log-container{
    width: 500px;
    padding: 40px;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}

.log-title {
    text-align: center;
    margin: 24px 0 12px 0;
}

.logemail, .logpass {
	width: 89.5%;
    padding: 14px 20px;
    margin-top: 7px;
    margin-left: 6px;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    outline: none;
}

.signemail, .signnick {
	width: 73%;
    padding: 14px 20px;
    margin-top: 7px;
    margin-left: 6px;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    outline: none;
}

 .signpass {
	 width: 89.5%;
    padding: 14px 20px;
    margin-top: 7px;
    margin-left: 6px;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    outline: none;
 }

input[type=text] {
    width: 73%;
    padding: 14px 20px;
    margin-top: 7px;
    margin-left: 6px;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    outline: none;
}

button[type=submit]{
    width: 100%;
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    background-color: #477489;
}

.checkBtn{
    max-width: 80px;
    min-width: 50px;
    padding: 12px 10px;
    margin-top: 9.5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #ddd
}

.login-signup {
    text-align: center;
    padding-top: 16px;
}

.login-signup > span > a{
    text-decoration: none;
}

.login-signup > span > a:hover{
    color: #0084ff;
    cursor: pointer;
}

.log-box {
    width: 100%;
    height: 260px;
}

.sign-box {
    width: 100%;
    height: 400px;
}

.log-content {
    width: 498px;
    height: 60px;
    margin-bottom: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.log-content:nth-child(2) {
    margin-bottom: 0;
}

.log-content2 {
    width: 498px;
    height: 60px;
    margin-bottom: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.alert {
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
    color: red;
}

h2 {
    font-size: 2rem;
}