@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Pretendard-Regular';
    height: auto;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.contents-box {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.contents-inner {
	margin-top: 45px;
    padding: 5.5rem 1.6rem;
}


.main-form {
    display: flex;
}

.contents-left {
    position: relative;
    width: 50%;
}

.imageset-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 1.6rem;
}

.contents-right {
    width: 50%;
    font-size: 2rem;
}

.contents-group {
    padding: 1rem;
}

.contents-group+.contents-group {
    padding-top: 2.8rem;
    margin-left: 1rem;
    border-top: 1px solid #eee;
}

.contents-subtit {
    font-weight: 700;

}

.contents-subtit2 {
    line-height: 1rem;
    font-weight: 700;
    text-align: right;
    margin-bottom: 1.6rem;
}

.contents-item-price2 {
    text-align: right;
}

.contents-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.13rem;
}

.contents-item-name {
    padding-bottom: 2.8rem;
}

.contents-item span {
    display: inline-block;
}

.contents-button {
    text-align: center;
}

@media (max-width: 786px) {

    .contents-inner {
		
        padding: 3rem 1.6rem;
    }


    .contents-body {
        flex-direction: column;
        margin: 2rem 4rem 0;
    }


    .contents-left {
        width: 100%;
        min-height: 30rem;
    }


    .contents-left .imageset {
        width: calc(100% - 8rem);
        height: 22.6rem;
    }


    .contents-left .imageset+.imageset {
        width: calc(100% - 8.8rem);
        height: 24rem;
    }


    .contents-right {
        width: 100%;
        margin-top: 4rem;
    }
}

b {
    font-size: 1.3rem;
}

#wrap {
    min-height: 661px;
    height: 100%;
}

/* footer 하단 고정 */
#footer-container {
    width: 100%;
}