@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
}

/* main */
.mypage-box {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.mypage-contents {
    margin-top: 2rem;
}

/* tab */
.tab {
    float: left;
    border-right: 1px solid #ccc;
    background-color: #fff;
    width: 30%;
    height: 400px;
}

.tab button {
    display: flex;
    align-items: center;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    /* text-align: left; */
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.2rem;
}

.tab button span {
    margin-left: 30px; /* 아이콘과 텍스트 간의 간격을 조절할 수 있습니다. */
}

.tab button:hover {
    background-color: #f7f7fb;
}

.tab button.active {
    color: #fff;
    background-color: rgb(107, 185, 221);
}

.tabcontent {
    float: left;
    padding: 0px 20px;
    /* border: 1px solid #ccc; */
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
    /* 초기에는 모든 탭 내용을 숨김 */
}

/* content */

/* my information */
.my-tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e7e6e6;
    box-shadow: 2px 1px 4px #d6d6d6;
}

.my-detail {
    width: 50rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

#my-img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

#my-img > img{
   width: 100%;
   height: 100%;
    border-radius: 50%;
    background-color: #ebe9e9;
    /* #f7f7fb */
}

.my-info {
   height: 100px;
    display: flex;
    margin-top: 45px;
    padding: 24px 10px;
    flex-direction: column;
    align-items: flex-start;
}

.my-info p {
   margin: 8px;
}

#user{
    font-size: 1.3rem;
}

#email{
    margin-top: -10px;
    color: #a7a7a7;
}

.my-icon2 {
    margin-left: 10px;
    background-color: cornflowerblue;
}

.my-views {
    width: 30rem;
    color: #a7a7a7;
    border-top: 1px solid #ddd;
    margin: 30px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
   }

#my-list{
    margin-left: 10px;
}

.my-number {
    width: 30rem;
    color: #477489;
    margin: -30px 0 10px 0;
    display: flex;
    font-size: 2rem;
    justify-content: space-evenly;
    /* background-color: chartreuse; */
}

.my-num {
   margin-left: 16px;
}

/* info */
.info-container,
.comnt-container,
.like-container {
    width: 100%;
    height: 4rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f7f7fb;
}

h3 {
   font-size: 1.8rem;
   margin-bottom: 20px;
   margin-left: 10px;
} 

.info-tbody {
    height: 45px;
}

.info-detail,
.comnt-detail,
.comnt-views {
    display: flex;
    align-items: center;
    height: 40px;
    /* background-color: pink; */
}

#info-icon,
#comnt-icon {
    width: 3rem;
    font-size: 1.3rem;
    text-align: center;
}

#info-icon2,
#info-view,
#info-like{
    font-size: .8rem;
}

#info-icon2,
#comnt-views {
    width: 1.5rem;
    margin-left: 10px;
    text-align: center;
    /* background-color: turquoise; */
}

#info-view{
    width: 2rem;
    text-align: center;
    /* background-color: aquamarine; */

}

#info-like{
    width: 2rem;
    text-align: center;
    /* background-color: crimson; */
}

/* info-views */
.info-views {
    border-bottom: 1px solid #ddd;
}

.info-views,
.info-datetime,
.comnt-views,
.like-datetime{
    display: flex;
    align-items: center;
    height: 30px;
}

.info-datetime{
    font-size: .8rem;
    margin-top: -30px;
    margin-right: 10px;
    justify-content: flex-end;
}

.like-datetime{
    font-size: .8rem;
    margin-top: -45px;
    margin-right: 10px;
    justify-content: flex-end;
}

.like-datetime td

/* info */
#info-icon2,
#info-view,
#info-like,
#info-date,
#info-time{
    color: #c2c2c2;
    /* background-color: red; */
}

/* mypage-write */
#comnt-num > a{
    color: #0fa7ee;
    text-decoration: none;
    /* background-color: orange; */
}

#comnt-num > a:hover{
    color: tomato;
}

#comnt-num p {
   margin-right: 6px;
}

/* comnt-views */
#comnt-view {
    width: 7rem;
    margin-top: 7px;
    text-align: center;
    /* background-color: aquamarine; */
}

/* like */
.like-tbody {
    height: 40px;
}








.conbody {
    min-height: 771px;
    height: 100%;
}

/* footer 하단 고정 */
#footer-container {
    width: 100%;
}

/* banner */
.banner {
    width: 100%;
    height: 12rem;
    background-color: #D8F9EE;
    background-image: url(/image/image5.jpg);
    background-repeat: no-repeat;
    background-position: 71rem;
    margin-bottom: 3rem;
}

.banner-font {
    margin-top: 3rem;
    margin-left: 23rem;
    float: left;
}

h2 {
   margin-top: 30px;
    font-size: 2.5rem;
}

.noboardlist {
   padding-left: 10px;
}