@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

.notice-contents {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#Accordion_wrap:first-child {
    border-top: 2px solid #000000;
}

.que {
    position: relative;
    padding: 27px 0;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 1px solid #dddddd;
}

.checkBtn{
	float: left;
    width: 30px;
    margin-left: 5px;
}

.checkBtn p {
	float: right;
}

.que span {
    margin: 0 1rem;
}

.anw {
    display: none;
    overflow: hidden;
    font-size: 1rem;
    width: 100%;
    background-color: #f4f4f2;
    padding: 27px 0;
}

.arrow-wrap {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

.que .arrow-top {
    display: none;
}

.que .arrow-bottom {
    display: block;
}

.que.on .arrow-bottom {
    display: none;
}

.que.on .arrow-top {
    display: block;
}

.notice {
    float: left;
    margin: 0 1.5rem;
    font-weight: 600;
    color: #477489;
}

.notice-title {
    float: left;
    width: 60%;
    margin: 0 1rem;
}

.notice-date {
    float: right;
    width: 10%;
    margin-right: 4rem;
}

.notice-content {
    width: 70%;
    margin: 0 1rem;
    line-height: 1.5rem;
}

.notice-button {
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    display: none;
}

.nbt-write {
    padding: 0.6rem 1rem;
    background-color: #477489;
    color: white;
    border: none;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.nbt-delete {
    padding: 0.6rem 1rem;
    background-color: #477489;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}


.conbody {
    min-height: 771px;
    height: 100%;
}

/* footer 하단 고정 */
#footer-container {
    width: 100%;
}

/* banner */
.banner {
    width: 100%;
    height: 12rem;
    background-color: #DDF0FF;
    background-image: url(../../image/image1.jpg);
    background-repeat: no-repeat;
    background-position: 71rem;
    margin-bottom: 3rem;
    
}

.banner-font {
    margin-top: 4rem;
    margin-left: 23rem;
    float: left;
}

h2 {
    font-size: 3rem;
}

.banner p {
    font-size: 1.2rem;
}


