  @charset "utf-8";

  @font-face {
  	font-family: 'Pretendard-Regular';
  	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  	font-weight: 400;
  	font-style: normal;
  }

  *,
  *::before,
  *::after {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  }

  body {
	font-family: 'Pretendard-Regular';
  	font-size: 1rem;
  	letter-spacing: 0.15rem;
  }

  ul {
  	list-style: none;
  }

  a {
  	display: inline-block;
  	color: black;
  	text-decoration: none;
  }

  .signLang {
  	box-shadow: 0px 5px 5px rgba(122, 122, 122, 0.2);
  }

  /* 로고부분 */
  .header-contents {
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	height: 6rem;
  	max-width: 100%;
  	margin: 0 auto;
  }

  .header-left {
  	margin-left: 5rem;
  }

  .header-title img {
  	width: 7rem;
  }

/* 로고 gif */
#gif-container{
	position: relative;
	display: inline-block;
}

#signgif{
	display: none;
	position: absolute;
	top: 110%;
	left: 50%;
	width: 200px;
}

#menugif{
	display: none;
	position: absolute;
	top: 150%;
	left: 50%;
	width: 200px;
}

#gif-container:hover #signgif,
#gif-container:hover #menugif{
	display: block;
}

  /* 메뉴부분 */
  .header-gnblist {
  	display: flex;
  	justify-content: center;
  }

  .header-gnblink {
  	padding: 1rem 2rem;
  	font-size: 1.4rem;
  	font-weight: 600;
  	text-align: center;
  }

  .menu-icon {
  	display: inline-block;
  }

  .menu-icon:after {
  	display: block;
  	content: '';
  	border-bottom: solid 4px #437489;
  	transform: scaleX(0);
  	transition: transform 250ms ease-in-out;
  }

  .menu-icon:hover:after {
  	transform: scaleX(1);
  }


  .header-gnbitem {
  	margin: 0 0.5rem;
  }


  /* 회원가입 및 로그인 아이콘 부분*/
  .header-right {
  	width: 13rem;
  	height: 8rem;
  	display: flex;
  	align-items: center;
  }

  .header-utils {
  	display: flex;
  	align-items: center;
  }

  .header-utils a {
    psdding: 0; !important
  }

  .header-utils-btn {
  	margin-right: 1rem;

  }

  .header-utils-btn+.header-utils-btn {
  	margin-left: 1.2rem;
  }

  .btn-profile i {
  	display: flex;
  	justify-content: center;
  	margin-bottom: 5px;
  }

  .btn-profile p {
	font-size: 15px;
  }
  
  
  